

<%=link_to 'Add Patient', new_patient_path %>

<% @patients.each do |patient|%>
 <p>
    Name:<%=link_to patient.name, patient_path(patient)%><br />
    Age :<%=patient.age%>  <br />
    Phone:<%=patient.phone_number%> <br />
    Address:<%=patient.address%> |<%= link_to "Edit",edit_patient_path(patient)%>  |
    <%= link_to "Delete", patient, method: :delete %>
    </p>

<% end %>
