<%= link_to "New Patient", new_patient_url %>

<h1>Patient Index</h1>
<h3><% @patients.order(:name).each do |patient| %>
  <p><%=link_to patient.name, patient_path(patient)%></p>
<% end %></h3>

<%= form_tag(patients_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
