<h1>New Patient Form</h1>

<% if @patient.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@patient.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @patient.errors.full_messages.each do |msg| %>
      <li><p style="color:red"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=form_for(@patient) do |f|%>
  <p><label>Name:</label></p>
  <p><%=f.text_field :name%></p>
  <label>Phone Number: (numbers only, ex. 1234567891)</label>
  <p><%=f.phone_field :phone_number%></p>
  <label>Age:</label>
  <p><%=f.number_field :age%></p>
  <label>Address:</label>
  <p><%=f.text_area :address%></p>
<%=f.submit%>
<%end%>