<%=link_to "Home", patients_path%>
<h1><%=@patient.name%></h1>
  <p><b>Phone:</b> <%=number_to_phone(@patient.phone_number)%></p>
  <p><b>Age:</b> <%=@patient.age%></p>
  <p><b>Address: </b><%=@patient.address%></p>

  <%=link_to 'Edit', edit_patient_path(@patient)%><br><br>
  <%=button_to 'Delete Record', patient_path(@patient), method: :delete%>
